.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1200;
}

.modal {
    max-width: calc(100vw - 48px);
    max-height: calc(100vh - 24px);
    position: relative;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.closeButton {
    position: absolute;
    top: 80px;
    /* Adjust the top value as needed */
    right: 10px;
    /* Adjust the right value as needed */
    cursor: pointer;
    background: none;
    border: none;
    font-size: 16px;
    color: #fff;
    padding: 5px 10px;
}
.closeButton:hover{
    color: #0024f1;
    text-shadow: #fff;
}